@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 100;
  src: url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-thin.woff2') format('woff2'),
       url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-thin.woff') format('woff'),
       url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-thin.ttf') format('truetype');
}